
body{
    text-align: center;
    background-color: brown;
}
#reset{
    border-radius: 5px 5px 5px 5px;

}
#main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    /* margin-right: 5px; */
    /* align-content: center;
    justify-content: center; */
    /* background-color: aqua; */
   
    text-align: center;
}
h1{
    float:bottom;
    color: azure;
  font-weight: bold;
}
table{
    table-layout:fixed;
    width:87%;
    height:70%;
    margin:auto;
}
td{
    color: red;
 font-size: 40px;
 font-weight: bold;
 height: 50px;
 width: 50px;
}

@media(min-width:360px) and (max-width:480px){
    td{
        table-layout: fixed;
        font-size: 35px;
        height: 40px;
        width: 40px;
       } 
}
@media(max-width:390px){
    td{
        font-size: 25px;
        height: 32px;
        width: 32px;
       } 
}
/* td:hover{
    background-color: rgb(51, 182, 223)!important;
        /* border: 5px solid rgb(45, 165, 235)!important; */
    /* box-shadow: 0 0 15px #0463b1; */
#hint{
    background-color:white;
    width: 50px;
    height: 50px;
    align-self: center;
    text-align: center;
    border-radius: 40%; 
} 
#hint1{
    width:40px;
    
    content: url("../images/q1.png");


}
